<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

  <ion-content class="ion-padding">
    <img src="../assets/Supershow-Logo_Landscape-White-BG (1).png">
    <h3 style="align-items: center; text-align: center;">Get Discovered. Get Booked</h3>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-button (click)="onTap()" style="--background: #900C3E;" expand="block">
          Login
        </ion-button>
        <h4 style="text-align: center; color: #900C3E;" (click)="onClick()">Create new account</h4>
      </ion-col>
     
    </ion-row>
    
</ion-content>
