.card-title {
    position: absolute;
    top: 60%;
    font-size: 1.5em;
    text-shadow: black 1px 1px;
    width: 100%;
    font-weight: bold;
    color: #fff;

  }

  .txt-st{

    font-family: "Lato-light";
  }

  .card-subtitle {
    font-size: 0.3em;
    position: absolute;
    top: 81%;
    width: 100%;
    color: #fff;

  }

.img{
  width: 50vh;
  height: 100%;
}

.empty{
  height: 40%;
  width: auto ;
  margin  : auto;
  position: relative;
  top: 100px;
  vertical-align: bottom;
  display: grid!important;
  align-content: center!important;
  align-items: center!important;
  
}