<ion-content class="ion-padding">
  <ion-refresher slot="fixed"  pullFactor="100.5" pullMin="100" pullMax="300" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-row>
    <ion-col>
      <div style="height: 25px;">
        <h3>Hi! <span><img (click)="back()" src="../assets/Group-2.png" height="25" width="25"></span></h3>
      </div>
    </ion-col>
    <ion-col>
      <div (click)="chatPage()" style="float: right; height: 25px; "><ion-icon style="width: 40px; height: 40px; color:#900C3E" name="chatbubbles-outline"></ion-icon></div>
    </ion-col>
  </ion-row>
 
  
  <h3 style="color: #900C3E">{{user.first_name}}</h3>
  <ion-searchbar mode="ios" showCancelButton="focus" class="ion-no-margin ion-no-padding" expand="block" animated>
  </ion-searchbar>
    
  <ion-grid class="ion-no-margin ion-no-padding" *ngIf="loading">
    <ion-row class="ion-justify-content-start" >
      <ion-col size="6" style="padding-bottom:12px;">
        <div>
          <ion-item lines="none" style="padding-bottom:5px;height: 160px;">
            <ion-thumbnail style="width: 50vh;height: 260px;">
              <ion-skeleton-text animated style="height: 260px; margin:0px; --padding-start: 0px;"></ion-skeleton-text>
            </ion-thumbnail>
          </ion-item>
        </div>
      </ion-col>
      <ion-col size="6" style="padding-bottom:12px;">
        <div class="custom-skeleton">
          <ion-item lines="none" style="height: 160px;">
            <ion-thumbnail style="width: 50vh;height: 260px;">
              <ion-skeleton-text animated style="height: 260px; margin:0px; --padding-start: 0px;"></ion-skeleton-text>
            </ion-thumbnail>
          </ion-item>
        </div>
      </ion-col>
      <ion-col size="6" style="padding-bottom:12px;">
        <div class="custom-skeleton">
          <ion-item lines="none" style="height: 160px;">
            <ion-thumbnail style="width: 50vh;height: 260px;">
              <ion-skeleton-text animated style="height: 260px; margin:0px; --padding-start: 0px;"></ion-skeleton-text>
            </ion-thumbnail>
          </ion-item>
        </div>
      </ion-col>
      <ion-col size="6" style="padding-bottom:12px;">
        <div class="custom-skeleton">
          <ion-item lines="none" style="height: 160px;">
            <ion-thumbnail style="width: 50vh;height: 260px;">
              <ion-skeleton-text animated style="height: 260px; margin:0px; --padding-start: 0px;"></ion-skeleton-text>
            </ion-thumbnail>
          </ion-item>
        </div>
      </ion-col>
      <ion-col size="6" style="padding-bottom:12px;">
        <div class="custom-skeleton">
          <ion-item lines="none" style="height: 160px;">
            <ion-thumbnail style="width: 50vh;height: 220px;">
              <ion-skeleton-text animated style="height: 260px; margin:0px; --padding-start: 0px;"></ion-skeleton-text>
            </ion-thumbnail>
          </ion-item>
        </div>
      </ion-col>
      <ion-col size="6" style="padding-bottom:12px;">
        <div class="custom-skeleton">
          <ion-item lines="none" style="height: 160px;">
            <ion-thumbnail style="width: 50vh;height: 260px;">
              <ion-skeleton-text animated style="height: 260px; margin:0px; --padding-start: 0px;"></ion-skeleton-text>
            </ion-thumbnail>
          </ion-item>
        </div>
        
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid  *ngIf="show">
     <ion-row class="ion-justify-content-start">
    <ion-col size="6" *ngFor="let talent of talents; let i =index">
      <ion-card style="box-shadow:none !important" (click)="presentModal(i)">
        
        <div [ngStyle]="{'color': getColor(i)}" [ngClass]="{'txt-st': talents.id % 2 == 0}"
          class="card-title ion-padding">{{talent.first_name}}</div>
        <!-- <div class="card-subtitle ">{{talents.address}}</div> -->
        <img src="{{talent.avatar}}" class="img" />
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid style="height: 50%;"  *ngIf="talents == ''"  >
  <ion-row>
    <div class="empty"><img src="../assets/emptyState.png"  height="105" width="100"></div>
  </ion-row>
</ion-grid>
        <ion-button (click)="addpresentModal()" expand="block" fill="outline">
          ADD
        </ion-button>
        <!-- <ion-button (click)="chatPage()" expand="block" fill="outline">
          CHAT
      </ion-button> -->
</ion-content>